[Unit]
Description=OTA Client Daemon
After=network.target

[Service]
Type=simple
User=root
ExecStart=/home/arenatech/client/bin/ota-agent \
  -config-url="http://www.arenatech.cn/ota/client-arm64-v2.0/version.yaml" \
  -version-file="/home/arenatech/client/bin/version" \
  -agent-id="1" \
  -start-cmd="/home/arenatech/client/bin/client-arm64.bin" \
  -daemon=true
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target