[Unit]
Description=OTA Server Daemon
After=network.target

[Service]
Type=simple
User=root
ExecStart=/home/arenatech/server/bin/ota-agent -config=/home/arenatech/server/bin/ota-agent.yaml
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
